@model IEnumerable<SEImplementation.Models.RoleModel>
@{
    ViewBag.Title = "RoleList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Role List</h2>
<p>
    @Html.ActionLink("Create New Role", "CreateRole")
</p>
<br />
<div class="fleft">
<table>
    <tr>
        <th>
            Role ID
        </th>
        <th>
            Role
        </th>
        <th>
            Role Description
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoleID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleDesc)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditRole", new { roleid = item.RoleID })
                @if (item.RoleID != 1 && item.RoleID != 2 && item.RoleID != 4)
                {
                    @Html.Raw("|")
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                
                }
            </td>
        </tr>
    }
</table>
</div>
<div class="clear"></div>